<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="page2-Xne">
 
    <div class="header-1-kvJ">
      <div class="rectangle-24-Jgv"></div>
      <p class="have-good-day-dDQ">have good day !</p>
      <ion-img class="vector-8AA" src=".\assets\assets\vector-cXG.png"></ion-img>
      <ion-img class="logo-1-euC" src=".\assets\assets\logo-1-Kkz.png"></ion-img>
    </div>
    <div class="body-1-9LA">
      <div class="auto-group-bc2a-HBU">
        <p class="welcome-back-CZL">Welcome Back</p>
        <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-diam-maecenas-mi-non-sed-ut-odio-non-justo-sed-facilisi-et-iXg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas mi non sed ut odio. Non, justo, sed facilisi et. </p>
        <div class="auto-group-zqvg-mF4">
          <ion-input class="input-field" type="text" placeholder="Username , Email & Phone Number"></ion-input>
        </div>
        <div class="auto-group-yybt-oSe">
          <ion-input class="input-field" type="password" placeholder="Password"></ion-input>
        </div>
        <p class="forgot-password--3Lz">Forgot Password ?</p>
        <div class="auto-group-wxnw-9up">
          <ion-button class="sign-in-button" expand="full">Sign in</ion-button>
        </div>
      </div>
      <div class="auto-group-1ssn-bmp">
        <div class="rectangle-29-LjQ"></div>
        <p class="or-sign-up-with-dCi">Or Sign up With</p>
        <div class="rectangle-30-9gr"></div>
      </div>
      <div class="auto-group-xzg6-ThY">
        <div class="auto-group-dkjn-yvn">
          <ion-button class="google-button" expand="full" shape="round" color="danger" >googleSignIn</ion-button>
            <ion-icon slot="start" name="logo-google"></ion-icon>
            <ion-label>Google</ion-label>
         
          <ion-button class="github-button" expand="full" shape="round" color="dark" >
            <ion-icon slot="start" name="logo-github"></ion-icon>
            <ion-label>GitHub</ion-label>
          </ion-button>
        </div>
        <ion-img class="apple-logo-aQn" src=".\assets\assets\apple-logo-ZgA.png"></ion-img>
      </div>
    </div>
  </div>
</ion-content>