
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.page-1-mUA {
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  box-shadow: 2rem -2rem 2.5rem rgba(0, 0, 0, 0.1199999973);
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 3rem;
  padding: 0rem 0rem 4.4rem 1.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .status-bar-3wU {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 2.5rem;
    width: 34rem;
    height: 3.3rem;
  }
  .header-1-agW {
    margin: 0rem 0rem 0.35rem 2.3rem;
    width: 38.15rem;
    height: 48.15rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-24-hFL {
      left: 0.3rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      border-radius: 4rem;
      width: 37.85rem;
      height: 48.15rem;
      position: absolute;
    }
    .rectangle-28-opA {
      border-radius: 4rem;
      width: 37.85rem;
      height: 48.15rem;
      position: absolute;
      left: 0.3rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .lancer-workers-8rS {
      height: 3.5rem;
      position: absolute;
      left: 5.8rem;
      top: 38.15rem;
      line-height: 1.26;
      color: #464444;
      white-space: nowrap;
      width: 19.8rem;
      font-weight: 700;
      font-family: Outfit, 'Source Sans Pro';
      font-size: 2.7rem;
    }
    .vector-RKk {
      left: 0;
      top: 15.95rem;
      object-fit: contain;
      vertical-align: top;
      width: 19.7737rem;
      height: 23.15rem;
      position: absolute;
    }
    .logo-1-ZRx {
      width: 5.0398rem;
      height: 4.9613rem;
      position: absolute;
      left: 23rem;
      top: 40.85rem;
      object-fit: contain;
      vertical-align: top;
    }
    .logo-sxS {
      top: 11.55rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.4081rem;
      height: 4.3936rem;
      position: absolute;
      left: 20.8919rem;
    }
  }
  .body-Pvn {
    margin-right: 1.6rem;
    width: 35.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-remu-YHt {
      box-sizing: border-box;
      padding: 0rem 3.4rem 4.4rem 3.5rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .discover-amazing-f7c {
        color: #464444;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1.4rem 0.2rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.26;
      }
      .services-for-you-ZTt {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.26;
        color: #464444;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 5rem 1.5rem;
      }
      .create-your-profile-with-us-and-be-visible-to-the-top-recruiters-of-the-wolrd-g2i {
        color: #000000;
        font-family: Outfit, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.26;
      }
    }
    .body-2-yGi {
      box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1199999973);
      background-color: #f2efef;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 6.5rem;
      border-radius: 1.5rem;
      box-sizing: border-box;
      padding-right: 3.8rem;

      .auto-group-jjz8-JZt {
        white-space: nowrap;
        display: flex;
        border-radius: 1.5rem 0 0 1.5rem;
        font-size: 2.2rem;
        font-family: Outfit, 'Source Sans Pro';
        text-align: center;
        color: #ffffff;
        align-items: center;
        background-color: #9aa3f7;
        flex-shrink: 0;
        margin-right: 4rem;
        width: 19.7rem;
        height: 100%;
        font-weight: 700;
        line-height: 1.26;
        justify-content: center;
      }
      .register-mTU {
        margin-top: 0.1rem;
       // font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.26;
        color: #595757;
        flex-shrink: 0;
        text-align: center;
        font-size: 2 rem;
        font-weight: 600;
      }
    }
  }
}
