<ion-header>
  <ion-toolbar>
    <ion-title>
      Lancer workers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-1-mUA">
   
    <div class="header-1-agW">
      <ion-img class="rectangle-24-hFL" src=".\assets\assets\rectangle-24-k7Y.png"></ion-img>
      <ion-img class="rectangle-28-opA" src=".\assets\assets\rectangle-28-GQE.png"></ion-img>
      <ion-label class="lancer-workers-8rS">Lancer workers</ion-label>
      <ion-img class="vector-RKk" src=".\assets\assets\vector-rES.png"></ion-img>
      <ion-img class="logo-1-ZRx" src=".\assets\assets/logo-1-Lcn.png"></ion-img>
      <ion-img class="logo-sxS" src=".\assets\assets/logo-BCr.png"></ion-img>
    </div>
    <div class="body-Pvn">
      <div class="auto-group-remu-YHt">
        <ion-label class="discover-amazing-f7c">Discover Amazing</ion-label>
        <ion-label class="services-for-you-ZTt">Services For You</ion-label>
        <ion-label class="create-your-profile-with-us-and-be-visible-to-the-top-recruiters-of-the-wolrd-g2i">
          Create your profile with us and be visible to the top recruiters of the Wolrd
        </ion-label>
      </div>
      <div class="body-2-yGi">
        <div class="auto-group-jjz8-JZt">
          <ion-button class="sign-in-button" color="#464444" expand="full">Sign in</ion-button>
        </div>

  
  <ion-button class="register-mTU" color="#fffff" expand="full">Register</ion-button>
      </div>
    </div>
  </div>
</ion-content>